In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
%load_ext memory_profiler

In [4]:
#file$ 4. This is  32GB file, 
dfCHARTEVENTS = pd.read_csv(r'C:\Users\mkhan74\Documents\MIMICiiiDup\CHARTEVENTS.csv', nrows=1048576)
#dfCHARTEVENTS = pd.read_csv(r'C:\Users\mkhan74\Documents\MIMICiiiDup\CHARTEVENTS.csv')

In [5]:
#https://timothymonteath.com/articles/monitoring_memory_usage/
%memit

peak memory: 218.17 MiB, increment: 0.41 MiB

In [6]:
dfCHARTEVENTS.head(50)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
0,788,36,165660,241249.0,223834,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,15.00,15.00,L/min,0,0,NaN,NaN
1,789,36,165660,241249.0,223835,2134-05-12 12:00:00,2134-05-12 13:56:00,17525.0,100.00,100.00,NaN,0,0,NaN,NaN
2,790,36,165660,241249.0,224328,2134-05-12 12:00:00,2134-05-12 12:18:00,20823.0,0.37,0.37,NaN,0,0,NaN,NaN
3,791,36,165660,241249.0,224329,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,6.00,6.00,min,0,0,NaN,NaN
4,792,36,165660,241249.0,224330,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,2.50,2.50,NaN,0,0,NaN,NaN
5,793,36,165660,241249.0,224331,2134-05-12 12:00:00,2134-05-12 12:19:00,20823.0,0.00,0.00,ml/hr,0,0,NaN,NaN
6,794,36,165660,241249.0,224332,2134-05-12 12:00:00,2134-05-12 14:44:00,17525.0,3.00,3.00,NaN,0,0,NaN,NaN
7,795,36,165660,241249.0,224663,2134-05-12 12:00:00,2134-05-12 14:44:00,17525.0,8.00,8.00,NaN,0,0,NaN,NaN
8,796,36,165660,241249.0,224665,2134-05-12 12:00:00,2134-05-12 14:44:00,17525.0,1.11,1.11,NaN,0,0,NaN,NaN
9,797,36,165660,241249.0,220224,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,58.00,58.00,mmHg,1,0,NaN,NaN
10,798,36,165660,241249.0,220235,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,60.00,60.00,mmHg,1,0,NaN,NaN
11,799,36,165660,241249.0,223830,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,7.29,7.29,units,1,0,NaN,NaN
12,800,36,165660,241249.0,224828,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,0.00,0.00,mEq/L,0,0,NaN,NaN
13,801,36,165660,241249.0,225668,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,1.00,1.00,mmol/L,0,0,NaN,NaN
14,802,36,165660,241249.0,225698,2134-05-12 12:35:00,2134-05-12 12:38:00,20889.0,30.00,30.00,mEq/L,0,0,NaN,NaN
15,803,36,165660,241249.0,220045,2134-05-12 13:00:00,2134-05-12 13:55:00,17525.0,86.00,86.00,bpm,0,0,NaN,NaN
16,804,36,165660,241249.0,220179,2134-05-12 13:00:00,2134-05-12 13:55:00,17525.0,137.00,137.00,mmHg,0,0,NaN,NaN
17,805,36,165660,241249.0,220180,2134-05-12 13:00:00,2134-05-12 13:55:00,17525.0,72.00,72.00,mmHg,0,0,NaN,NaN
18,806,36,165660,241249.0,220181,2134-05-12 13:00:00,2134-05-12 13:55:00,17525.0,84.00,84.00,mmHg,0,0,NaN,NaN
19,807,36,165660,241249.0,220210,2134-05-12 13:00:00,2134-05-12 13:55:00,17525.0,21.00,21.00,insp/min,0,0,NaN,NaN
20,808,36,165660,241249.0,220277,2134-05-12 13:00:00,2134-05-12 13:55:00,17525.0,93.00,93.00,%,0,0,NaN,NaN
21,809,36,165660,241249.0,224328,2134-05-12 13:00:00,2134-05-12 14:40:00,17525.0,0.37,0.37,NaN,0,0,NaN,NaN
22,810,36,165660,241249.0,224329,2134-05-12 13:00:00,2134-05-12 14:40:00,17525.0,6.00,6.00,min,0,0,NaN,NaN
23,811,36,165660,241249.0,224330,2134-05-12 13:00:00,2134-05-12 14:40:00,17525.0,2.50,2.50,NaN,0,0,NaN,NaN
24,812,36,165660,241249.0,224331,2134-05-12 13:00:00,2134-05-12 14:40:00,17525.0,0.00,0.00,ml/hr,0,0,NaN,NaN
25,813,36,165660,241249.0,224332,2134-05-12 13:00:00,2134-05-12 14:44:00,17525.0,5.00,5.00,NaN,0,0,NaN,NaN
26,814,36,165660,241249.0,224663,2134-05-12 13:00:00,2134-05-12 14:44:00,17525.0,41.00,41.00,NaN,0,0,NaN,NaN
27,815,36,165660,241249.0,224665,2134-05-12 13:00:00,2134-05-12 14:44:00,17525.0,1.85,1.85,NaN,0,0,NaN,NaN
28,816,36,165660,241249.0,220045,2134-05-12 14:00:00,2134-05-12 14:39:00,17525.0,85.00,85.00,bpm,0,0,NaN,NaN
29,817,36,165660,241249.0,220179,2134-05-12 14:00:00,2134-05-12 14:39:00,17525.0,118.00,118.00,mmHg,0,0,NaN,NaN
30,818,36,165660,241249.0,220180,2134-05-12 14:00:00,2134-05-12 14:39:00,17525.0,53.00,53.00,mmHg,0,0,NaN,NaN
31,819,36,165660,241249.0,220181,2134-05-12 14:00:00,2134-05-12 14:39:00,17525.0,65.00,65.00,mmHg,0,0,NaN,NaN
32,820,36,165660,241249.0,220210,2134-05-12 14:00:00,2134-05-12 14:39:00,17525.0,19.00,19.00,insp/min,0,0,NaN,NaN
33,821,36,165660,241249.0,220277,2134-05-12 14:00:00,2134-05-12 14:39:00,17525.0,91.00,91.00,%,0,0,NaN,NaN
34,822,36,165660,241249.0,224332,2134-05-12 14:00:00,2134-05-12 18:02:00,17525.0,3.00,3.00,NaN,0,0,NaN,NaN
35,823,36,165660,241249.0,224663,2134-05-12 14:00:00,2134-05-12 18:02:00,17525.0,19.00,19.00,NaN,0,0,NaN,NaN
36,824,36,165660,241249.0,224665,2134-05-12 14:00:00,2134-05-12 18:02:00,17525.0,1.11,1.11,NaN,0,0,NaN,NaN
37,825,36,165660,241249.0,224328,2134-05-12 14:40:00,2134-05-12 14:40:00,17525.0,0.37,0.37,NaN,0,0,NaN,NaN
38,826,36,165660,241249.0,224329,2134-05-12 14:40:00,2134-05-12 14:40:00,17525.0,6.00,6.00,min,0,0,NaN,NaN
39,827,36,165660,241249.0,224330,2134-05-12 14:40:00,2134-05-12 14:40:00,17525.0,2.50,2.50,NaN,0,0,NaN,NaN
40,828,36,165660,241249.0,224331,2134-05-12 14:40:00,2134-05-12 14:40:00,17525.0,0.00,0.00,ml/hr,0,0,NaN,NaN
41,829,36,165660,241249.0,220045,2134-05-12 15:00:00,2134-05-12 16:50:00,17525.0,87.00,87.00,bpm,0,0,NaN,NaN
42,830,36,165660,241249.0,220179,2134-05-12 15:00:00,2134-05-12 16:50:00,17525.0,130.00,130.00,mmHg,0,0,NaN,NaN
43,831,36,165660,241249.0,220180,2134-05-12 15:00:00,2134-05-12 16:50:00,17525.0,61.00,61.00,mmHg,0,0,NaN,NaN
44,832,36,165660,241249.0,220181,2134-05-12 15:00:00,2134-05-12 16:51:00,17525.0,79.00,79.00,mmHg,0,0,NaN,NaN
45,833,36,165660,241249.0,220210,2134-05-12 15:00:00,2134-05-12 16:51:00,17525.0,20.00,20.00,insp/min,0,0,NaN,NaN
46,834,36,165660,241249.0,220277,2134-05-12 15:00:00,2134-05-12 16:51:00,17525.0,91.00,91.00,%,0,0,NaN,NaN
47,835,36,165660,241249.0,224332,2134-05-12 15:00:00,2134-05-12 18:03:00,17525.0,2.00,2.00,NaN,0,0,NaN,NaN
48,836,36,165660,241249.0,224663,2134-05-12 15:00:00,2134-05-12 18:03:00,17525.0,8.00,8.00,NaN,0,0,NaN,NaN
49,837,36,165660,241249.0,224665,2134-05-12 15:00:00,2134-05-12 18:04:00,17525.0,0.74,0.74,NaN,0,0,NaN,NaN

In [7]:
dfCHARTEVENTS.tail(50)

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,ITEMID,CHARTTIME,STORETIME,CGID,VALUE,VALUENUM,VALUEUOM,WARNING,ERROR,RESULTSTATUS,STOPPED
1048526,1014042,10694,138159,294193.0,220052,2153-08-16 10:59:00,NaN,NaN,92.0,92.0,mmHg,0,0,NaN,NaN
1048527,1014043,10694,138159,294193.0,220074,2153-08-16 10:59:00,NaN,NaN,25.0,25.0,mmHg,0,0,NaN,NaN
1048528,1014044,10694,138159,294193.0,220210,2153-08-16 10:59:00,NaN,NaN,19.0,19.0,insp/min,0,0,NaN,NaN
1048529,1014045,10694,138159,294193.0,220292,2153-08-16 10:59:00,NaN,NaN,5.0,5.0,L/min,0,0,NaN,NaN
1048530,1014046,10694,138159,294193.0,220293,2153-08-16 10:59:00,NaN,NaN,17.0,17.0,L/min,0,0,NaN,NaN
1048531,1014047,10694,138159,294193.0,220339,2153-08-16 10:59:00,NaN,NaN,12.0,12.0,cmH2O,0,0,NaN,NaN
1048532,1014048,10694,138159,294193.0,223835,2153-08-16 10:59:00,NaN,NaN,40.0,40.0,NaN,0,0,NaN,NaN
1048533,1014049,10694,138159,294193.0,223873,2153-08-16 10:59:00,NaN,NaN,40.0,40.0,cmH2O,0,0,NaN,NaN
1048534,1014050,10694,138159,294193.0,223874,2153-08-16 10:59:00,NaN,NaN,1.5,1.5,mL,0,0,NaN,NaN
1048535,1014051,10694,138159,294193.0,223876,2153-08-16 10:59:00,NaN,NaN,20.0,20.0,sec,0,0,NaN,NaN
1048536,1014052,10694,138159,294193.0,224685,2153-08-16 10:59:00,NaN,NaN,192.0,192.0,mL,0,0,NaN,NaN
1048537,1014053,10694,138159,294193.0,224686,2153-08-16 10:59:00,NaN,NaN,220.0,220.0,mL,0,0,NaN,NaN
1048538,1014054,10694,138159,294193.0,224687,2153-08-16 10:59:00,NaN,NaN,14.0,14.0,L/min,0,0,NaN,NaN
1048539,1014055,10694,138159,294193.0,224689,2153-08-16 10:59:00,NaN,NaN,40.0,40.0,insp/min,0,0,NaN,NaN
1048540,1014056,10694,138159,294193.0,224690,2153-08-16 10:59:00,NaN,NaN,40.0,40.0,insp/min,0,0,NaN,NaN
1048541,1014057,10694,138159,294193.0,224695,2153-08-16 10:59:00,NaN,NaN,23.0,23.0,cmH2O,0,0,NaN,NaN
1048542,1014058,10694,138159,294193.0,224697,2153-08-16 10:59:00,NaN,NaN,15.0,15.0,cmH2O,0,0,NaN,NaN
1048543,1014059,10694,138159,294193.0,220045,2153-08-16 11:00:00,2153-08-16 11:16:00,16187.0,82.0,82.0,bpm,0,0,NaN,NaN
1048544,1014060,10694,138159,294193.0,220050,2153-08-16 11:00:00,2153-08-16 11:16:00,16187.0,147.0,147.0,mmHg,0,0,NaN,NaN
1048545,1014061,10694,138159,294193.0,220051,2153-08-16 11:00:00,2153-08-16 11:16:00,16187.0,64.0,64.0,mmHg,0,0,NaN,NaN
1048546,1014062,10694,138159,294193.0,220052,2153-08-16 11:00:00,2153-08-16 11:16:00,16187.0,97.0,97.0,mmHg,0,0,NaN,NaN
1048547,1014063,10694,138159,294193.0,220074,2153-08-16 11:00:00,2153-08-16 11:11:00,16187.0,9.0,9.0,mmHg,0,0,NaN,NaN
1048548,1014064,10694,138159,294193.0,220210,2153-08-16 11:00:00,2153-08-16 11:16:00,16187.0,27.0,27.0,insp/min,0,0,NaN,NaN
1048549,1008507,10694,138159,294193.0,224686,2153-08-16 06:35:00,NaN,NaN,479.0,479.0,mL,0,0,NaN,NaN
1048550,1008508,10694,138159,294193.0,224687,2153-08-16 06:35:00,NaN,NaN,7.1,7.1,L/min,0,0,NaN,NaN
1048551,1008509,10694,138159,294193.0,224689,2153-08-16 06:35:00,NaN,NaN,19.0,19.0,insp/min,0,0,NaN,NaN
1048552,1008510,10694,138159,294193.0,224690,2153-08-16 06:35:00,NaN,NaN,19.0,19.0,insp/min,0,0,NaN,NaN
1048553,1008511,10694,138159,294193.0,224695,2153-08-16 06:35:00,NaN,NaN,18.0,18.0,cmH2O,0,0,NaN,NaN
1048554,1008512,10694,138159,294193.0,224697,2153-08-16 06:35:00,NaN,NaN,15.0,15.0,cmH2O,0,0,NaN,NaN
1048555,1008513,10694,138159,294193.0,220045,2153-08-16 06:36:00,NaN,NaN,78.0,78.0,bpm,0,0,NaN,NaN
1048556,1008514,10694,138159,294193.0,220050,2153-08-16 06:36:00,NaN,NaN,138.0,138.0,mmHg,0,0,NaN,NaN
1048557,1008515,10694,138159,294193.0,220051,2153-08-16 06:36:00,NaN,NaN,66.0,66.0,mmHg,0,0,NaN,NaN
1048558,1008516,10694,138159,294193.0,220052,2153-08-16 06:36:00,NaN,NaN,93.0,93.0,mmHg,0,0,NaN,NaN
1048559,1008517,10694,138159,294193.0,220074,2153-08-16 06:36:00,NaN,NaN,33.0,33.0,mmHg,0,0,NaN,NaN
1048560,1008518,10694,138159,294193.0,220210,2153-08-16 06:36:00,NaN,NaN,20.0,20.0,insp/min,0,0,NaN,NaN
1048561,1008519,10694,138159,294193.0,220277,2153-08-16 06:36:00,NaN,NaN,95.0,95.0,%,0,0,NaN,NaN
1048562,1008520,10694,138159,294193.0,220292,2153-08-16 06:36:00,NaN,NaN,5.0,5.0,L/min,0,0,NaN,NaN
1048563,1008521,10694,138159,294193.0,220293,2153-08-16 06:36:00,NaN,NaN,15.0,15.0,L/min,0,0,NaN,NaN
1048564,1008522,10694,138159,294193.0,220339,2153-08-16 06:36:00,NaN,NaN,12.0,12.0,cmH2O,0,0,NaN,NaN
1048565,1008523,10694,138159,294193.0,223835,2153-08-16 06:36:00,NaN,NaN,40.0,40.0,NaN,0,0,NaN,NaN
1048566,1008524,10694,138159,294193.0,223873,2153-08-16 06:36:00,NaN,NaN,40.0,40.0,cmH2O,0,0,NaN,NaN
1048567,1008525,10694,138159,294193.0,223874,2153-08-16 06:36:00,NaN,NaN,1.5,1.5,mL,0,0,NaN,NaN
1048568,1008526,10694,138159,294193.0,223876,2153-08-16 06:36:00,NaN,NaN,20.0,20.0,sec,0,0,NaN,NaN
1048569,1008527,10694,138159,294193.0,224685,2153-08-16 06:36:00,NaN,NaN,460.0,460.0,mL,0,0,NaN,NaN
1048570,1008528,10694,138159,294193.0,224686,2153-08-16 06:36:00,NaN,NaN,359.0,359.0,mL,0,0,NaN,NaN
1048571,1008529,10694,138159,294193.0,224687,2153-08-16 06:36:00,NaN,NaN,7.9,7.9,L/min,0,0,NaN,NaN
1048572,1008530,10694,138159,294193.0,224689,2153-08-16 06:36:00,NaN,NaN,21.0,21.0,insp/min,0,0,NaN,NaN
1048573,1008531,10694,138159,294193.0,224690,2153-08-16 06:36:00,NaN,NaN,21.0,21.0,insp/min,0,0,NaN,NaN
1048574,1008532,10694,138159,294193.0,224695,2153-08-16 06:36:00,NaN,NaN,22.0,22.0,cmH2O,0,0,NaN,NaN
1048575,1008533,10694,138159,294193.0,224697,2153-08-16 06:36:00,NaN,NaN,15.0,15.0,cmH2O,0,0,NaN,NaN

In [8]:
#https://timothymonteath.com/articles/monitoring_memory_usage/
%memit

peak memory: 219.32 MiB, increment: 0.00 MiB

In [9]:
dfCHARTEVENTS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048576 entries, 0 to 1048575
Data columns (total 15 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   ROW_ID        1048576 non-null  int64
 1   SUBJECT_ID    1048576 non-null  int64
 2   HADM_ID       1048576 non-null  int64
 3   ICUSTAY_ID    1048119 non-null  float64
 4   ITEMID        1048576 non-null  int64
 5   CHARTTIME     1048576 non-null  object
 6   STORETIME     848102 non-null   object
 7   CGID          848102 non-null   float64
 8   VALUE         1048576 non-null  float64
 9   VALUENUM      1048576 non-null  float64
 10  VALUEUOM      986910 non-null   object
 11  WARNING       1048576 non-null  int64
 12  ERROR         1048576 non-null  int64
 13  RESULTSTATUS  0 non-null        float64
 14  STOPPED       0 non-null        float64
dtypes: float64(6), int64(6), object(3)
memory usage: 120.0+ MB

In [10]:
dfCHARTEVENTS.drop('RESULTSTATUS',axis=1,inplace=True)
dfCHARTEVENTS.drop('STOPPED',axis=1,inplace=True)

In [11]:
dfCHARTEVENTS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048576 entries, 0 to 1048575
Data columns (total 13 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   ROW_ID      1048576 non-null  int64
 1   SUBJECT_ID  1048576 non-null  int64
 2   HADM_ID     1048576 non-null  int64
 3   ICUSTAY_ID  1048119 non-null  float64
 4   ITEMID      1048576 non-null  int64
 5   CHARTTIME   1048576 non-null  object
 6   STORETIME   848102 non-null   object
 7   CGID        848102 non-null   float64
 8   VALUE       1048576 non-null  float64
 9   VALUENUM    1048576 non-null  float64
 10  VALUEUOM    986910 non-null   object
 11  WARNING     1048576 non-null  int64
 12  ERROR       1048576 non-null  int64
dtypes: float64(4), int64(6), object(3)
memory usage: 104.0+ MB